# -*- coding:utf-8 -*-
# -*- coding:utf-8 -*-

def main(global_config, **settings):
    """ This function returns a Pyramid WSGI application.
    """
    from pyramid.config import Configurator
    from sqlalchemy import engine_from_config

    from .models import (
        DBSession,
        Base,
        )
    engine = engine_from_config(settings, 'sqlalchemy.')
    DBSession.configure(bind=engine)
    Base.metadata.bind = engine
    config = Configurator(settings=settings)
%if "jinja2" in context.get(":extensions:"):
    config.include('pyramid_jinja2')
    config.add_jinja2_renderer('.html')
%else:
    config.include('pyramid_mako')
    config.add_mako_renderer('.html')
%endif
    config.include(".app")
    config.add_static_view('static', 'static', cache_max_age=3600)
    return config.make_wsgi_app()
