# -*- coding:utf-8 -*-
# -*- coding:utf-8 -*-

import sqlalchemy as sa
import sqlalchemy.orm as orm
from sqlalchemy.ext.declarative import declarative_base
from zope.sqlalchemy import ZopeTransactionExtension

DBSession = orm.scoped_session(orm.sessionmaker(extension=ZopeTransactionExtension()))
Base = declarative_base()
