# -*- coding:utf-8 -*-
# -*- coding:utf-8 -*-
from pyramid.view import view_config


@view_config(route_name='hello', renderer='templates/hello/greeting.mako')
def hello_view(request):
    return {"name": "${package}"}
