# -*- coding:utf-8 -*-
from pyramid.view import view_config
from pyramid import httpexceptions


@view_config(route_name='hello', renderer='hello/greeting.html')
def hello_view(request):
    return {"name": "${package}"}
