<!DOCTYPE html> 
<html>
  <head>
    <title>greeting</title>
  </head>
  <body>
%if "jinja2" in context.get(":extensions:"):
    <h1>hello {{name}}</h1>
%else:
    <h1>${"${%s}" % "name"}</h1>
%endif

  </body>
</html>
